{{ header }}
<div class="row">
    <div class="col-sm-12">
        <img src="assets/img/banner/about1.png" alt="" class="img-responsive w-100">
    </div>
</div>
<div class="container">
    <div class="row d-flex align-items-center">
        <div class="col-sm-8">
        <br /><br />
            <h2>About Solitaire Jewelry</h2>
            <br /><br />
            <p style="text-align:justify"> 
           Solitaire Jewelry was founded with a passion for design, starting out as a provider of bespoke jewelry for small to medium-sized retailers in the United States. Over the past two decades, the company has honed its expertise by creating over 3500 designs and working with clients from diverse countries and backgrounds. This has sharpened its understanding of market trends and fostered a spirit of innovation.
<br /><br />
Every piece of jewelry produced by Solitaire Jewelry is handled with the utmost care and attention to detail, from design to manufacturing. The company adheres to all OECD guidelines and follows the Kimberly process rigorously. Its major suppliers are compliant with the Responsible Jewellery Council, and it uses a combination of recycled and standard 18K and 14K gold.
<br /><br />
The team at Solitaire Jewelry is comprised of individuals from a broad age range, ranging from 25 to 65, resulting in a unique blend of youthful ambition, passion, and tradition, as well as seasoned jewelry veterans with over 35 years of experience in the industry.        
</p>
        </div>
        <div class="col-sm-4">
            <video style="width:100%" autoplay loop muted playsinline src="assets/vids/about.mp4"></video>
        </div>
    </div>
</div>
<br /><br />
{{ footer }}